# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java / Spring Boot
target/
**/target/
*.class
*.jar
*.war

# User Uploads
**/uploads/

# AI IDE
.trae/

# Secrets (DO NOT REMOVE)
application-secret.yml
**/application-secret.yml
