ALTER TABLE pms_product ADD COLUMN c2m_type VARCHAR(50) DEFAULT 'NONE';
ALTER TABLE oms_order ADD COLUMN c2m_status VARCHAR(50);
ALTER TABLE oms_order_item ADD COLUMN c2m_status VARCHAR(50);
ALTER TABLE oms_order_item ADD COLUMN status_timeline JSON;
ALTER TABLE oms_order_item ADD COLUMN tracking_no VARCHAR(100);
ALTER TABLE oms_order_item ADD COLUMN c2m_type VARCHAR(50);
